<h2>THE RESULT</h2>
<%= @item.name %>
<br>
which is <%= @item.volume @item.unit %>
<h3>WORKS OUT TO</h3>
<%= @results %> <%= @unit.upcase %>LOADS
<br>
<br>
How was this calculated?
<br>
<br>
Buttload: https://en.wikipedia.org/wiki/Tun_(unit)#History <-- using 126 gallons
<br>
Shitload: https://www.livescience.com/61966-how-much-you-poop-in-lifetime.html <-- using 15.5 ounces

<li><%= link_to "NEW ITEM?", items_path %></li>
<li><%= link_to "NEW MEASURE?", item_path(@item) %></li>