<div class="row justify-content-center">
  <h2>CHOOSE AN ITEM</h2>
</div>
<div class="card-container">
  <% @items.each do |item| %>
    <%= link_to item, class: 'text-decoration-none' do %>
      <div class="card-category">
        <div class="symbol align-self-center">
          <%= item.symbol %>
        </div>
        <div class="align-self-center">
          <center><%= item.name.upcase %></center>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= link_to new_item_path, class: 'text-decoration-none' do %>
    <div class="card-category create">
      <div class="symbol align-self-center">
        📦
      </div>
      <div class="align-self-center">
        <center>YOUR OWN ITEM</center>
      </div>
    </div>
  <% end %>
</div>
Testing Emoji Below:
<%= emojify ":swimmer: :ice_skate: :oil_drum: :milkshake: :fuel_pump: :wine_glass:" %>
