<h1>MAKE AN ITEM</h1>
<%= simple_form_for @item do |f| %>
  <%= f.input :name %>
  <%= f.input :volume, as: :float %>
  <%= f.input :units, collection: %w[gallons cups litres millilitres] %>
  <%= f.button :submit %>
<% end %>