<h2>MAKE AN ITEM</h2>
<%= simple_form_for @item do |f| %>
  <%= f.input :name %>
  <%= f.input :volume, as: :float %>
  <%= f.input :unit, collection: %w[gallons ounces litres millilitres] %>
  <%= f.button :submit %>
<% end %>