<div class="row justify-content-center my-3">
  <h1>YOU CHOSE...</h1>
</div>

<div class="card-container col-12 col-md-10 offset-md-1 mb-3">
      <div class="card-category color-<%= (1..8).to_a.sample %>">
        <div class="symbol align-self-center">
          <%= emojify ":#{@item.symbol}:" %>
        </div>
        <div class="align-self-center item-name">
          <center><%= @item.name.upcase %></center>
        </div>
      </div>
</div>

<h3>WHAT'S THAT IN...</h3>
<li><%= link_to "ðŸ‘ BUTTLOADS", calculate_path(@item, measure: 'butt'), method: :post %></li>
<li><%= link_to "ðŸ’© SHITLOADS", calculate_path(@item, measure: 'shit'), method: :post %></li>
<li><%= link_to "ðŸš½ FLUSHLOADS", calculate_path(@item, measure: 'flush'), method: :post %></li>