<div class="row justify-content-center mt-3">
  <h1>YOU CHOSE...</h1>
</div>
<div id="show-container" class="card-container col-12 col-md-10 align-self-center">
  <div class="text-right align-self-center display-4">
    <%= emojify ":sparkles:" %>
  </div>
  <div id="choice-card" class="mb-4 mt-3 card-category color-<%= (1..8).to_a.sample %>">
    <div class="symbol align-self-center">
      <%= emojify ":#{@item.symbol}:" %>
    </div>
    <div class="align-self-center item-name">
      <center><%= @item.name.upcase %></center>
    </div>
  </div>
  <div class="text-left align-self-center display-4">
    <%= emojify ":sparkles:" %>
  </div>
</div>
<div class="row align-items-center flex-column px-5">
  <h2>WHICH EQUALS <%= pluralize(@results, @unit.upcase + 'LOAD' ).upcase %></h2>
  <p>(that's <%= link_to "#{@item.volume.round} #{@item.unit}", "#", data: { toggle: 'modal', target: '#calculator' } %>!)</p>
</div>
<div class="row d-flex align-self-center justify-content-center col-12 col-md-8 col-xl-6">
<%= link_to "NEW ITEM?", items_path, class: "btn new-button new-item btn-block mb-3 pressable color-#{(1..8).to_a.sample}" %>
<%= link_to "NEW MEASURE?", item_path(@item), class: 'btn new-button new-measure btn-block pressable' %>
</div>

<div class="modal fade" id="calculator" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Calculating <%= @unit.capitalize %>loads</h5>
        <button type="button" class="close mr-1" data-dismiss="modal"></button>
      </div>
      <div class="modal-body text-center">
        <% case @unit %>
        <% when 'butt' %>
        Historically, one buttload (of alcohol) was about 126 gallons!<br>
        (<a href="https://en.wikipedia.org/wiki/Tun_(unit)#History">source</a>)
        <% when 'shit' %>
        The approximate value of the average human poop is about 15.5 ounches!<br>
        (<a href="https://www.livescience.com/61966-how-much-you-poop-in-lifetime.html">source</a>)
        <% when 'flush' %>
        One flush of water (in an oldschool toilet) uses about 3.5 gallons of water!<br>
        (<a href="https://www.home-water-works.org/indoor-use/toilets">source</a>)
        <% end %>
      </div>
    </div>
  </div>
</div>
