<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Primary Meta Tags -->
    <title>WHAT THE BUTT</title>
    <meta name="title" content="WHAT THE BUTT">
    <meta name="description" content="A buttload, shitload and flushload converter that no one asked for and nobody needed. ">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="WHAT THE BUTT">
    <meta property="og:description" content="A buttload, shitload and flushload converter that no one asked for and nobody needed. ">
    <meta property="og:image" content="https://i.imgur.com/iTMIRc3.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://metatags.io/">
    <meta property="twitter:title" content="WHAT THE BUTT">
    <meta property="twitter:description" content="A buttload, shitload and flushload converter that no one asked for and nobody needed. ">
    <meta property="twitter:image" content="https://i.imgur.com/iTMIRc3.png">

    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    <meta charset="utf-8">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  </head>
  <body>
    <div class="container p-0 d-flex flex-column">
      <%= link_to root_path, class: 'text-decoration-none' do %>
        <div class="h2 text-dark text-decoration-none"><%= emojify ":peach:" %> WHAT THE BUTT</div>
      <% end %>
      <%= yield %>
    </div>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  </body>
</html>
